 :root {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;
}


.hljs {
  background: var(--crust);
  color: var(--subtext1);
}

.hljs-comment {
  color: var(--green);
}

.hljs-punctuation,
.hljs-tag {
  color: var(--subtext1);
}

.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
  color: var(--subtext0);
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  font-weight: 700;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: var(--yellow);
}

.hljs-section,
.hljs-title {
  color: var(--mauve);
  font-weight: 700;
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: var(--maroon);
}

.hljs-literal {
  color: var(--teal);
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: var(--teal);
}

.hljs-meta {
  color: var(--sapphire);
}

.hljs-meta .hljs-string {
  color: var(--lavender);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
